{% extends "base.html.twig" %}

{% block body %}
<h2>Votre sélection</h2>
	<h3>{{ prettyDate }} -
	{{ ticket.nbticket }} billet(s)
		{% if ticket.duration == constant('OC\\BookingBundle\\Entity\\Ticket::DAY') %}
		Journée
		{% else %}
		demi-journée
		{% endif %}
		-
		{{ ticket.amount|number_format(2, '.', '') }} &euro;
	</h3>
	<table class="table" id="visitorsTable">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Pays</th>
					<th>Date de naissance</th>
					<th>Montant</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for visitor in ticket.visitors %}
				<tr>
					<td>{{ visitor.surname }}</td>
					<td>{{ visitor.name }}</td>
					<td>{{ visitor.country|country }}</td>
					<td>{{ visitor.birthday|date('d/m/Y') }}</td>
					<td class="text-right">{{ visitor.amount|number_format(2, '.', '') }} &euro;</td>
					<td>&nbsp;</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4" class="text-right">Total</th>
					<th class="text-right">
						<span id="total">{{ ticket.amount|number_format(2, '.', '') }}</span> &euro;
					</th>
				</tr>
			</tfoot>
	</table>

	<div class="row">
		{{ form_start(form, {'attr': {'id': 'payment-form'}}) }}
		<div class="col-xs-offset-2 col-xs-4">
			<h2>Email</h2>
			{{ form_row(form.email) }}
			<br/>
			<div class="jumbotron">
				Veuillez vérifier votre adresse email
			</div>
		</div>
		<div class="col-xs-4">
				<h2>Paiement</h2>
				<div id="payment-error" class="alert alert-danger"></div>
				{{ form_row(form.name) }}
				{{ form_row(form.cardno) }}
				{{ form_row(form.expmonth) }} / {{ form_row(form.expyear) }}
				{{ form_row(form.cvv) }}
				<br/>
				{{ form_row(form.save) }}
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
		Stripe.setPublishableKey('{{ stripe_pk }}');
		$(function() {
			var $form = $('#payment-form');
  			$form.submit(function(event) {
    			$('#payment_save').prop('disabled', true);
    			Stripe.card.createToken($form, stripeResponseHandler);
    			return false;
  			});
  		});
		function stripeResponseHandler(status, response) {
			var $form = $('#payment-form');
  			if (response.error) {
    			$('#payment-error').text(response.error.message);
    			$('#payment_save').prop('disabled', false);

  			} else {
    			var token = response.id;
    			$('#payment_token').val(token);
    			$form.get(0).submit();
    		}
    	}
	</script>
{% endblock %}