{% extends "base.html.twig" %}

{% block body %}
	<h2>{% trans %}label_selection{% endtrans %}</h2>
	<h3>{{ prettyDate }} -
	{{ ticket.nbticket }} billet(s)
		{% if ticket.duration == constant('OC\\BookingBundle\\Entity\\Ticket::DAY') %}
			{% trans %}label_day{% endtrans %}
		{% else %}
			{% trans %}label_halfday{% endtrans %}
		{% endif %}
	</h3>
	<table class="table" id="visitorsTable">
			<thead>
				<tr>
					<th>{% trans %}surname{% endtrans %}</th>
					<th>{% trans %}name{% endtrans %}</th>
					<th>{% trans %}country{% endtrans %}</th>
					<th>{% trans %}birthday{% endtrans %}</th>
					<th>{% trans %}pricelist{% endtrans %}</th>
					<th class="text-right">{% trans %}amount{% endtrans %}</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for visitor in ticket.visitors %}
				<tr>
					<td>{{ visitor.surname }}</td>
					<td>{{ visitor.name }}</td>
					<td>{{ visitor.country|country }}</td>
					<td>{{ visitor.birthday|date("d/m/Y") }}</td>
					<td>{{ visitor.pricelists.name }}</td>
					<td class="text-right">{{ visitor.amount|number_format(2, '.', '') }} &euro;</td>
					<td>&nbsp;</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th colspan="5" class="text-right">{% trans %}total{% endtrans %}</th>
					<th class="text-right">
						<span id="total">{{ ticket.amount|number_format(2, '.', '') }}</span> &euro;
					</th>
				</tr>
			</tfoot>
	</table>

	<div class="row">
		{{ form_start(form, {'attr': {'id': 'payment-form', 'class':'form-horizontal' }}) }}
		<div class="col-xs-offset-1 col-xs-4">
			<h2>{% trans %}mail{% endtrans %}</h2>
			{{ form_row(form.email) }}
			<br/>
			<div class="alert alert-warning text-center">
				<b>{% trans %}check_email{% endtrans %}</b>
			</div>
			{% if form_errors(form)|length > 0 %}
    		<div class="alert alert-danger">
    			{{ form_errors(form) }}
	    	</div>
    		{% endif %}

		</div>
		<div class="col-xs-7">
				<div class="form-group">
					<label class="control-label col-sm-4">&nbsp;</label>
					<div class="col-sm-6">
						<div>
							<h2>
							{% image '@OCBookingBundle/Resources/public/images/stripe-secure.png'  output="images/stripe-secure.png" %}
							<img src="{{ asset_url }}" width="50%" height="100%" alt="Stripe payment" class="pull-left">
							{% endimage %}
							{% trans %}label_payment{% endtrans %}
							</h2>
						</div>
    				</div>
  				</div>

				<div class="form-group">
					<label class="control-label col-sm-4">{% trans %}amount{% endtrans %}</label>
					<div class="col-sm-6">
						<input class="form-control" type="texte" readonly=true value="{{ ticket.amount }} EUR">
    				</div>
  				</div>


				<div class="form-group">
					<label class="control-label col-sm-4">{{ form_label(form.name) }}</label>
					<div class="col-sm-6">
						{{ form_widget(form.name) }}
    				</div>
  				</div>

				<div class="form-group">
					<label class="control-label col-sm-4">{{ form_label(form.cardno) }}</label>
					<div class="col-sm-6">
						{{ form_widget(form.cardno) }}
    				</div>
  				</div>

  				<div class="form-group">
					<label class="control-label col-sm-4" for="email">{{ form_label(form.expmonth) }}</label>
					<div class="col-sm-6">
						<div class="row">
    						<div class="col-sm-6">
								{{ form_widget(form.expmonth) }}
							</div>
							<div class="col-sm-6">
								{{ form_widget(form.expyear) }}
							</div>
						</div>
    				</div>
  				</div>

				<div class="form-group">
					<label class="control-label col-sm-4" for="email">{{ form_label(form.cvv) }}</label>
					<div class="col-sm-6">
						{{ form_widget(form.cvv) }}
    				</div>
  				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">&nbsp;</label>
					<div class="col-sm-6">
						<div id="payment-error" class="alert alert-danger" style="display:none"></div>
						{{ form_row(form.save) }}
    				</div>
  				</div>


		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
		Stripe.setPublishableKey('{{ stripe_pk }}');
		var errorMessages = {
			incorrect_number: "{% trans %}incorrect_number{% endtrans %}",
			invalid_number: "{% trans %}invalid_number{% endtrans %}",
			invalid_expiry_month: "{% trans %}invalid_expiry_month{% endtrans %}",
			invalid_expiry_year: "{% trans %}invalid_expiry_year{% endtrans %}",
			invalid_cvc: "{% trans %}invalid_cvc{% endtrans %}",
			expired_card: "{% trans %}expired_card{% endtrans %}",
			incorrect_cvc: "{% trans %}incorrect_cvc{% endtrans %}",
			incorrect_zip: "{% trans %}incorrect_zip{% endtrans %}",
			card_declined: "{% trans %}card_declined{% endtrans %}",
			missing: "{% trans %}missing{% endtrans %}",
			processing_error: "{% trans %}processing_error{% endtrans %}",
			rate_limit:  "{% trans %}rate_limit{% endtrans %}"
		};

		$(function() {
			{% if stripe_error is not empty %}
				$('#payment-error').show();
    			$('#payment-error').text("{{stripe_error}}");
			{% endif %}

			var $form = $('#payment-form');
  			$form.submit(function(event) {
  				event.preventDefault();
    			$('#payment_save').prop('disabled', true);
    			Stripe.card.createToken($form, stripeResponseHandler);
    			return false;
  			});
  		});
		function stripeResponseHandler(status, response) {
			var $form = $('#payment-form');
  			if (response.error) {
  				$('#payment-error').show();
    			$('#payment-error').text(errorMessages[response.error.code]);
    			$('#payment_save').prop('disabled', false);
				return false;
  			} else {
    			var token = response.id;
    			$('#payment_token').val(token);
    			$form.get(0).submit();
    		}
    	}
	</script>
{% endblock %}
