
<table style="width:100%;background-color:black;border-collapse: collapse;">
		<tr>
			<td style="height:50px;width:40%;">
				<img src="{{ absolute_url(asset('images/8bccac7.png')) }}" height="70px">
			</td>
			<td>
				<h1 style="color:white;text-align:center">{% trans %}museum_booking{% endtrans %}</h1>
			</td>
		</tr>
</table>
<p>{% trans %}hello{% endtrans %}</p>
<p>{% trans %}order_ack{% endtrans %}<p>
<p><b style="color:green">{% trans %}order_auth{% endtrans %}</b></p>
<p>{% trans %}visit_documents{% endtrans %}</p>

<div style="color: #31708f;background-color: #d9edf7;border-color: #bce8f1;padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;">
	<h3>{% trans %}booking_no{% endtrans %}{{ ticket.code }}</h3>
	<h4>{{ prettyDate }} - {{ ticket.nbticket }} {% trans %}ticket{% endtrans %}
		{% if ticket.duration == constant('OC\\BookingBundle\\Entity\\Ticket::DAY') %}
			{% trans %}label_day{% endtrans %}
		{% else %}
			{% trans %}label_halfday{% endtrans %}
		{% endif %}
	</h4>
</div>
<div>
	<h4>{% trans %}visitors{% endtrans %}</h4>
	{% for visitor in ticket.visitors %}
		<b>{{ visitor.surname }} {{ visitor.name }}</b> tarif : {{ visitor.pricelist.name }} ({{ visitor.amount|number_format(2, '.', '') }} &euro;)
	{% endfor %}
</div>

<hr>
<p>{% trans %}paid_by{% endtrans %} {{ ticket.paymentdate|date('d/m/Y')}}</p>
<p>{% trans %}payment_amount{% endtrans %} {{ ticket.amount|number_format(2, '.', '') }} &euro;</p>
<p>{% trans %}team_regards{% endtrans %}</p>
<p>{% trans %}regards{% endtrans %}</p>
<p>{% trans %}museum_team{% endtrans %}</p>
